<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConectaClase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConectaClase.Properties.Settings>
            <setting name="StringConexion" serializeAs="String">
                <value>Data Source=SNAV-21;Initial Catalog=ClaseTaller;Integrated Security=True</value>
            </setting>
        </ConectaClase.Properties.Settings>
    </applicationSettings>
</configuration>